<div class="p-4 pb-0 flex flex-col gap-4 w-full mt-2">
  <!-- User Input -->
  <div class="w-full">
    <h2>Email</h2>
    <label class="input validator w-full">
      <user-icon />
      <input
        #txtEmail
        type="email"
        required
        placeholder="nombre@ejemplo.com"
        (input)="email.set(txtEmail.value)"
      />
    </label>
  </div>

  <div class="w-full">
    <!-- Password Input -->
    <h2>Contraseña</h2>
    <label class="input validator w-full">
      <password-icon />
      <input
        #txtPassword
        type="password"
        required
        placeholder="••••••••"
        (input)="password.set(txtPassword.value)"
      />
    </label>
  </div>

  <!-- Submit Button -->
  <button
    class="btn btn-primary mt-2 mb-0"
    (click)="login(email(), password())"
  >
    Ingresar
  </button>
</div>
