<a class="link link-info" (click)="openModal()">Ver factura</a>

<dialog #invoiceModal class="modal">
  <div class="modal-box w-11/12 max-w-5xl">
    <h2 class="text-3xl font-bold text-center mb-8">
      Factura #{{ invoice().number }}
    </h2>
    @if (invoiceUrl && invoicePdfSafeUrl) {
    <div class="flex flex-col justify-center items-center w-full h-[28rem]">
      <iframe
        [src]="invoicePdfSafeUrl"
        width="90%"
        height="100%"
        frameborder="0"
        class="border-2 rounded-xl shadow-md border-gray-400 dark:border-gray-600"
      ></iframe>
      <div class="flex flex-row justify-center items-center gap-4 mt-8">
        <!-- PDF Button -->
        <button class="btn btn-outline gap-2" (click)="downloadPDF()">
          <pdf-icon class="w-5 h-5 text-red-500" />
          Descargar PDF
        </button>

        <!-- XML Button -->
        <button class="btn btn-outline gap-2" (click)="downloadXML()">
          <xml-icon class="w-5 h-5 text-blue-500" />
          Descargar XML
        </button>

        <!-- DIAN Button -->
        <a [href]="invoiceUrl" target="_blank" class="btn btn-outline gap-2">
          <link-icon class="w-5 h-5 text-green-500" />
          Ver en la DIAN
        </a>
      </div>
    </div>
    } @else {
    <h2 class="text-3xl font-bold text-center mt-8">Cargando factura ...</h2>
    }

    <div class="modal-action mt-0">
      <form method="dialog">
        <button class="btn btn-error">Cerrar</button>
      </form>
    </div>
  </div>
</dialog>
