<section>
  <fieldset
    class="fieldset w-full bg-base-200 border border-base-300 p-4 rounded-box flex flex-row gap-4 flex-wrap"
  >
    <legend class="fieldset-legend">
      Detalles de los productos o servicios
    </legend>
    <div>
      <label class="fieldset-label">Codigo de referencia</label>
      <input
        #refInput="ngModel"
        required
        type="text"
        class="input"
        [ngModel]="item_code_reference()"
        (ngModelChange)="item_code_reference.set($event)"
        [class.border-red-500]="refInput.invalid && refInput.touched"
      />
    </div>

    <div>
      <label class="fieldset-label">Nombre del producto</label>
      <input
        #nameInput="ngModel"
        required
        type="text"
        class="input"
        [ngModel]="item_name()"
        (ngModelChange)="item_name.set($event)"
        [class.border-red-500]="nameInput.invalid && nameInput.touched"
      />
    </div>

    <div>
      <label class="fieldset-label">Cantidad</label>
      <input
        #quantityInput="ngModel"
        required
        type="text"
        class="input"
        inputmode="numeric"
        pattern="[0-9]*"
        min="1"
        maxlength="5"
        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
        [ngModel]="item_quantity()"
        (ngModelChange)="item_quantity.set($event)"
        [class.border-red-500]="quantityInput.invalid && quantityInput.touched"
      />
    </div>

    <div>
      <label class="fieldset-label">Precio</label>
      <input
        required
        type="text"
        class="input"
        inputmode="numeric"
        pattern="[0-9]*"
        min="0"
        maxlength="10"
        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
        [ngModel]="item_price()"
        (ngModelChange)="item_price.set($event)"
      />
    </div>

    <div>
      <label class="fieldset-label">Porcentaje de descuento</label>
      <input
        #discountInput="ngModel"
        required
        type="number"
        class="input"
        pattern="[0-9]*"
        min="0"
        max="100"
        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
        [ngModel]="item_discount_rate()"
        (ngModelChange)="item_discount_rate.set($event)"
        [class.border-red-500]="discountInput.invalid && discountInput.touched"
      />
    </div>

    <div>
      <label class="fieldset-label">Porcentaje de impuesto</label>
      <input
        #taxInput="ngModel"
        required
        type="number"
        class="input"
        pattern="[0-9]*"
        min="1"
        max="100"
        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
        [ngModel]="item_tax_rate()"
        (ngModelChange)="item_tax_rate.set($event)"
        [class.border-red-500]="taxInput.invalid && taxInput.touched"
      />
    </div>

    <div>
      <label class="fieldset-label">Unidad de medida</label>
      <select
        required
        class="select"
        [ngModel]="item_unit_measure_id()"
        (ngModelChange)="item_unit_measure_id.set($event)"
      >
        @for (unit of unitMeasures(); track unit.id) {
        <option [value]="unit.id">{{ unit.name }}</option>
        }
      </select>
    </div>

    <div>
      <label class="fieldset-label"
        >Estándar de identificación del producto</label
      >
      <select
        required
        class="select"
        [ngModel]="item_standar_code_id()"
        (ngModelChange)="item_standar_code_id.set($event)"
      >
        @for (code of standar_code_ids; track code.id) {
        <option [value]="code.id">{{ code.name }}</option>
        }
      </select>
    </div>

    <div>
      <label class="fieldset-label">Excluído de IVA</label>
      <select
        required
        class="select"
        [ngModel]="item_is_excluded()"
        (ngModelChange)="item_is_excluded.set($event)"
      >
        <option value="0">No</option>
        <option value="1">Si</option>
      </select>
    </div>

    <div>
      <label class="fieldset-label">Tributo</label>
      <select
        required
        class="select min-w-48"
        [ngModel]="item_tribute_id()"
        (ngModelChange)="item_tribute_id.set($event)"
      >
        @for (tribute of tributes(); track tribute.id) {
        <option [value]="tribute.id">{{ tribute.name }}</option>
        }
      </select>
    </div>
  </fieldset>
</section>
