<form [formGroup]="myForm">
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 flex flex-col gap-4"
  >
    <legend class="fieldset-legend">Información general de la factura</legend>

    <div class="flex flex-col gap-1.5">
      <label class="label">Rango de numeración</label>
      <select
        #numberingRange
        class="select w-full"
        formControlName="numberingRange"
        (change)="numbering_range_id.set(+numberingRange.value)"
      >
        @if(numberingRanges()){ @for (range of numberingRanges(); track
        range.id) {
        <option [value]="range.id">
          {{ range.document }} {{ range.prefix }} {{ range.from }} -
          {{ range.to }}
        </option>
        } }
      </select>
    </div>
    <div class="flex flex-col gap-1.5">
      <label class="label">Metodo de pago</label>
      <select
        #paymentMethod
        class="select w-full"
        formControlName="paymentMethod"
        (change)="payment_method_id.set(+paymentMethod.value)"
      >
        @for (method of PAYMENT_METHODS; track method.code) {
        <option [value]="method.code">{{ method.name }}</option>
        }
      </select>
    </div>
  </fieldset>
</form>
