<form [formGroup]="myForm">
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 flex flex-col gap-4"
  >
    <legend class="fieldset-legend">Información del cliente</legend>

    <!-- Document type -->
    <div class="flex flex-col gap-1.5">
      <label class="label">Tipo de documento</label>
      <select
        #documentType
        class="select w-full"
        formControlName="documentType"
        (change)="document_type_id.set(+documentType.value)"
      >
        @for (type of documentTypes; track type.code) {
        <option [value]="type.code">
          {{ type.name }}
        </option>
        }
      </select>
    </div>

    <!-- Document -->
    <div class="flex flex-col gap-1.5">
      <label class="label">Identificación</label>
      <input
        #document
        class="input w-full"
        formControlName="identification"
        (change)="identification.set(+document.value)"
      />
      @if (myForm.controls['identification'].invalid &&
      myForm.controls['identification'].touched) {
      <p class="validator-hint text-error">
        Documento invalido, debe tener entre 6 y 10 dígitos
      </p>
      }
    </div>

    <!-- Verification digit -->
    <div class="flex flex-col gap-1.5">
      <label class="label">Dígito de verificación</label>
      <input
        #dvInput
        class="input w-full"
        formControlName="dv"
        (change)="dv.set(+dvInput.value)"
      />
      @if(myForm.controls['dv'].invalid && myForm.controls['dv'].touched) {
      <p class="validator-hint text-error">
        El dígito de verificación debe tener 1 dígito númerico
      </p>
      }
    </div>

    <!-- Name -->
    <div class="flex flex-col gap-1.5">
      <label class="label">Nombre/ Razon social</label>
      <input
        #nameInput
        class="input w-full"
        formControlName="name"
        (change)="dv.set(+dvInput.value)"
      />
      @if(myForm.controls['name'].invalid && myForm.controls['name'].touched) {
      <p class="validator-hint text-error">
        Debe ingresar un nombre o una razón social de minimo 3 letras
      </p>
      }
    </div>

    <!-- Address -->
    <div class="flex flex-col gap-1.5">
      <label class="label">Dirección</label>
      <input
        #addressInput
        class="input w-full"
        formControlName="address"
        (change)="address.set(addressInput.value)"
      />
      @if(myForm.controls['address'].invalid &&
      myForm.controls['address'].touched) {
      <p class="validator-hint text-error">
        Debe ingresar una direccion valida
      </p>
      }
    </div>

    <!-- Email -->
    <div class="flex flex-col gap-1.5">
      <label class="label">Correo electrónico</label>
      <input
        #emailInput
        type="email"
        class="input w-full"
        formControlName="email"
        (change)="email.set(emailInput.value)"
      />
      @if(myForm.controls['email'].invalid && myForm.controls['email'].touched)
      {
      <p class="validator-hint text-error">
        Debes ingresar una dirección de correo electrónico valida
      </p>
      }
    </div>

    <!-- Telefono -->
    <div class="flex flex-col gap-1.5">
      <label class="label">Telefono</label>
      <input
        #telInput
        class="input w-full"
        formControlName="tel"
        (change)="tel.set(telInput.value)"
      />
      @if(myForm.controls['tel'].invalid && myForm.controls['tel'].touched) {
      <p class="validator-hint text-error">
        Debes ingresar un número de teléfono válido
      </p>
      }
    </div>
  </fieldset>
</form>
