<a
  (click)="toggleSidebar()"
  class="absolute top-4 transition-all duration-300 z-50 cursor-pointer"
  [ngClass]="{
    'left-4': !isSidebarOpen,
    'left-48': isSidebarOpen
  }"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-9 w-9"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg>
</a>

<aside
  class="fixed top-0 left-0 h-screen transition-all duration-300 ease-in-out bg-base-100/80 backdrop-blur-sm shadow-lg border-r border-base-300 z-40 overflow-hidden"
  [ngClass]="{
    'w-60': isSidebarOpen,
    'w-0': !isSidebarOpen
  }"
>
  @if (isSidebarOpen) {
  <ul class="menu p-4 pt-16 rounded-box w-full">
    <li>
      <a
        class="mt-2"
        [routerLink]="['/main/dashboard']"
        routerLinkActive="bg-base-300 font-semibold"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-9 w-9"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
          />
        </svg>
        <span
          [ngClass]="{
            'opacity-100': isSidebarOpen,
            'opacity-0': !isSidebarOpen
          }"
          class="transition-opacity duration-300 whitespace-nowrap"
        >
          Historial de facturas
        </span>
      </a>
    </li>

    <li>
      <a
        class="mt-2"
        [routerLink]="['/main/new-invoice']"
        routerLinkActive="bg-base-300 font-semibold"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-9 w-9"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12h6m-3-3v6m3-13H6a2 2 0 00-2 2v16a2 2 0 002 2h12a2 2 0 002-2V9l-6-6z"
          />
        </svg>
        <span
          [ngClass]="{
            'opacity-100': isSidebarOpen,
            'opacity-0': !isSidebarOpen
          }"
          class="transition-opacity duration-300 whitespace-nowrap"
        >
          Nueva factura
        </span>
      </a>
    </li>
  </ul>
  }
</aside>
